@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Cadastro de Fornecedores</h1> 
    <br />
    <br />
    <a class="btn btn-primary" value="Acessar" href="~/Fornecedores">Teste </a>
    
</div>